body{
    background: linear-gradient(to right, #40A8DF, #32ECBB );	
    font-family: ariel, times of newroman;
  }
    

    .header {
  position: sticky;
      top: 0;
  background-color: #00003A;
  padding: 70px 0;
  border-radius: 8px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  
  z-index: 1;
}
  .dropbtn {
      padding: 5px 0px;
      background-color: #00003A;
      border: none;
      border-radius: 5px;
    }

    .line {
      width: 25px;
      height: 2px;
      background-color: #9AFEFF;
      margin: 6px 10px;
    }

    .dropdown {
      position: absolute;
      margin-left: 15px;
      margin-top: 46px;
      top: 0;
      left: 0; /* Adjust the position of the dropdown button */
    }

    .dropdown-content {
      display: none;
      position: fixed;
      background-color: #9AFEFF;
      border-radius: 7px;
      width: 84%;
      z-index:1;
      height: 90%;
      box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    }

    .dropdown-content a {
      color: black;
      padding: 30px 16px;
      text-decoration: none;
      display: block;
      text-align: center;
    }
.dropdown-content a img{
  height: 56px;
}
#login
{
  background: linear-gradient(to right, #40A8DF, #32ECBB );	
  border-radius:  5px;
  : 1px solid black;
   }

    .dropdown:hover .dropdown-content {
      display: block;
    }

    .logo {
      position: absolute;
      left: 200px; /* Center the logo horizontally */
      transform: translateX(-50%); /* Adjust the horizontal position */
      top: 30px; /* Adjust the position of the logo */
    }
/*footer*/
  footer {
    background-color: #333;
    color: silver;
    text-align: center;
    padding: 10px;
    width: 100%;
}
footer p {
    margin: 5px 0;
  
}